body {
    background-color: #fffcf2;
    font-family: "Schibsted Grotesk", sans-serif;
    scroll-behavior: smooth;
}
.container{
    padding: 0 100px;
}
nav .container{
    display: flex;
    justify-content: space-between;
}
nav .logo{
    font-family: "Dancing Script", cursive;
    color: #eb5e28;
    margin-top: 10px;
    font-size: 40px;
}
nav ul{
    display: flex;
    column-gap: 30px;
    list-style: none;
    margin-top: 25px;
}
nav ul li a{
    text-decoration: none;
    font-size: 22px;
    color: #252422;
}
/* ************************************** */
.main{
    background-image: url(../images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    height: 450px;
    text-align: center;
    position: relative;
}
.main::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fffcf270;
    z-index: 1;
}
.main .container{
    margin-top: 60px;
    position: relative;
    z-index: 3;
}
.main .container h1{
    font-size: 50px;
}
.main .container p{
    font-size: 25px;
    color: #403d39;
    line-height: 40px;
}
.main .container a{
    font-size: 25px;
    color: #fffcf2;
    background-color: #eb5e28;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    border-radius: 15px;
}
/* ///////////////////////////////////////////////// */
.products .container{
    margin-top: 100px;
}
.products h1{
    margin-top: 100px;
    color: #252422;
    text-align: center;
    font-size: 40px;
}
.products .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 50px;
}
.products .container div{
    width: 350px;
    border: 2px solid #252422;
    text-align: center;
    line-height: 15px;
    padding: 10px;
    border-radius: 10px;
}
.products .container div h2{
    color: #252422;
}
.products .container div p{
    color: #403d39;
}
.products .container div img{
    width: 100%;
    height: 300px;
}
.products .container div button{
    padding: 10px;
    background-color: #eb5e28;
    color: #fffcf2;
    outline: none;
    border: #eb5e28;
    border-radius: 10px;
    font-size: 18px;
}
